<div class="container">
    <p-toolbar [style]="{'background':'white'}">
        <div class="p-toolbar-group-left item-wrapper">
            <a routerLink="/" routerLinkActive="active-link">
                <img class="logo" src="assets/logo_transparent.png">
            </a>
        </div>
        <div class="p-toolbar-group-right item-wrapper" *ngIf="!userIsAuth">
            <span>
                <a routerLink="/login" routerLinkActive="active-link">
                    <button pButton label="Login" icon="pi pi-user" class="p-button-primary p-button-rounded"></button>
                </a>
            </span>
            <span>
                <a routerLink="/register" routerLinkActive="active-link">
                    <button pButton label="Register" class="p-button-secondary p-button-rounded"
                        icon="pi pi-user-plus"></button>
                </a>
            </span>
        </div>
        <div class="p-toolbar-group-right item-wrapper animate__animated animate__fadeIn" *ngIf="userIsAuth">
            <span>
                <a routerLink="/create" routerLinkActive="active-link">
                    <button pButton label="New" class="p-button-primary p-button-rounded" icon="pi pi-pencil"></button>
                </a>
            </span>
            <span>
                <a routerLink="/list" routerLinkActive="active-link">
                    <button pButton label="View" icon="pi pi-search" class="p-button-warning p-button-rounded"></button>
                </a>
            </span>
            <button (click)="logoutUser()" pButton label="Logout" icon="pi pi-sign-out"
                class="p-button-secondary p-button-rounded"></button>
        </div>
    </p-toolbar>
</div>