<div class="title-section animate__animated animate__fadeIn">
    <div class="title">A personal journal to<br>display your gratitude</div>
    <div class="content-text">
        Recent <a href="https://ggsc.berkeley.edu/images/uploads/GGSC-JTF_White_Paper-Gratitude-FINAL.pdf">studies</a>
        support a strong association between gratitude and an individual’s wellbeing.<br>Use this journal to
        reflect on what you’re thankful for.<br><a href="https://github.com/Hansoners/gratitude-app-ui"><i
                class="fa fa-github"></i></a></div>
    <div class="btn-wrapper">
        <button pButton type="button" [routerLink]="['/create']" label="Start Writing"
            class="p-button-lg p-button-rounded"></button>
    </div>
    <div class="little-text">made with <i class="fa fa-heart heart"></i> by Hanson</div>
</div>