<div class="form-wrapper animate__animated animate__fadeIn">
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <p-card header="Register your account">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input name="email" ngModel type="email" required email pInputText placeholder="Email"
                        #emailInput="ngModel">
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input name="password" ngModel pPassword type="password" required placeholder="Password"
                        #passwordInput="ngModel" />
                </div>
            </div>
            <p-footer>
                <div class="p-col-12 center">
                    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
                    <button *ngIf="!isLoading" pButton pRipple class="p-button-lg" type="submit" id="submit-btn"
                        type="submit" label="Register" icon="pi pi-check" iconPos="left"></button>
                </div>
            </p-footer>
        </p-card>
    </form>
    <p><i>Passwords are salted and hashed with bcrypt.</i></p>
</div>

<p-toast position="bottom-left"></p-toast>