.center {
    text-align: center;
  }
  
  .container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-wrapper {
    width: 400px;
  }
  
  .small-text {
    color: grey;
    font-size: 1em;
  }
  
  .login-title {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #submit-btn {
    margin: 20px;
  }
  
  .form-title {
    font-family: "Proxima Nova Lt";
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .heart {
    color: rgb(237, 101, 95);
  }

  i {
    margin: 0 3px 0;
  }