<div class="main-container">
    <div class="spinner">
        <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    </div>
    <div class="form-group" *ngIf="!isLoading">
        <div class="animate__animated animate__fadeIn">
            <div class="p-d-flex p-flex-column">
                <div class="p-mb-2">
                    <div class="title">{{myDate | date:'fullDate'}}
                    </div>
                    <div class="divider-1"><span></span>
                    </div>
                </div>
                <form (submit)="onSavePost(postForm)" #postForm="ngForm">
                    <div class="subtitle p-text-uppercase">What are you grateful for today?</div>
                    <input pInputText type="text" name="title" [ngModel]="post?.title" required minlength="3"
                        placeholder="Pick a title..." #title="ngModel">
                    <textarea pInputTextarea name="content" [rows]="15" autoResize="autoResize"
                        [ngModel]="post?.content" placeholder="Start writing..." #content="ngModel">
            </textarea>
                    <div class="submit-wrapper">
                        <button pButton pRipple id="back-btn" type="button" label="Back" icon="pi pi-arrow-left"
                        class="p-button-rounded p-button-secondary" [routerLink]="['/list']"></button>
                        <button pButton pRipple type="submit" label="Save" icon="pi pi-cloud"
                            class="p-button-rounded"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>