/* You can add global styles to this file, and also import other style files */
html {
  background-color: rgb(252, 252, 252);
  /* background-color: #f9f9f9; */
  overflow-y: scroll;
}

* {
  font-family: Roboto;
}

body {
  margin: 0;
}

:root {
  --animate-delay: 0.5s;
}