/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-proxima-nova/style.css';

html {
  height: 100%;
  /* background-color: rgb(252, 252, 252); */
  /* background-color: #f9f9f9; */
  overflow-y: scroll;
}

* {
  font-family: "Proxima Nova Rg";
  /* font-family: Roboto; */
}

body {
  margin: 0;
  min-height: 100%;
}

:root {
  --animate-delay: 0.5s;
}
