<div class="spinner">
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
</div>

<div class="empty-wrapper" *ngIf="posts?.length === 0">
    <div class="animation-wrapper animate__animated animate__fadeIn">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        <button pButton type="button" label="Start Writing" [routerLink]="['/create']"
            class="p-button-outlined p-button-lg"></button>
    </div>
</div>

<div *ngIf="posts?.length > 0 && !isLoading">
    <div class="search-wrapper animate__animated animate__fadeIn">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
        </span>
    </div>
    <div *ngFor="let post of posts">
        <div class="animate__animated animate__fadeIn">
            <div class="card-wrapper" *ngIf="userId == post.creator">
                <p-card>
                    <div class="date-text">March 16, 2019</div>
                    <div class="title-text">{{post.title}}</div>
                    <div class="content-text">{{post.content}}</div>
                    <div class="button-wrapper">
                        <button pButton id="save-btn" icon="pi pi-pencil" type="button" class="p-button-rounded"
                            [routerLink]="['/edit', post.id]"></button>
                        <button pButton icon="pi pi-trash" type="button" (click)=onDelete(post.id)
                            class="p-button-rounded p-button-danger">
                        </button>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>