<div class="spinner">
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
</div>

<div class="empty-wrapper animate__animated animate__fadeIn" *ngIf="posts?.length < 1 && !isLoading">
    <p-card>
        <div class="animation-wrapper">
            <div class="empty-text">No posts have been written yet!</div>
            <ng-lottie [options]="options"></ng-lottie>
            <button pButton type="button" label="Start Writing" [routerLink]="['/create']" class="p-button-lg p-button-rounded"></button>
        </div>
    </p-card>
</div>

<div *ngIf="posts?.length > 0 && !isLoading">
    <div class="search-wrapper animate__animated animate__fadeIn">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
        </span>
    </div>
    <div *ngFor="let post of posts.slice().reverse()">
        <div class="animate__animated animate__fadeIn">
            <div class="card-wrapper" *ngIf="userId == post.creator">
                <p-card>
                    <div class="date-text">{{post.date | date:'fullDate'}}</div>
                    <div class="title-text">{{post.title}}</div>
                    <div class="content-text">{{post.content}}</div>
                    <div class="button-wrapper">
                        <button pButton id="view-btn" icon="pi pi-eye" type="button"
                            class="p-button-rounded p-button-secondary" [routerLink]="['/view', post.id]"></button>
                        <button pButton id="save-btn" icon="pi pi-pencil" type="button" class="p-button-rounded"
                            [routerLink]="['/edit', post.id]"></button>
                        <button pButton icon="pi pi-trash" type="button" (click)=onDelete(post.id)
                            class="p-button-rounded p-button-danger">
                        </button>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>

