<div class="main-container">
    <p-card>
        <div class="animate__animated animate__fadeIn">
            <img class="image" src="assets/solar.png">
        </div>
        <div class="animate__animated animate__fadeIn animate__delay-1s">
            <div class="open-quote">“</div>
            <blockquote>
                <p><i>Be thankful for what you have; you’ll end up having more. If you concentrate on what you don’t
                        have, you will never, ever have enough. - <b>Oprah Winfrey</b></i>
                </p>
            </blockquote>
            <div class="close-quote">”</div>
        </div>
        <div class="animate__animated animate__fadeIn animate__delay-2s">
            <div class="subtitle">
                Recent <a
                    href="https://ggsc.berkeley.edu/images/uploads/GGSC-JTF_White_Paper-Gratitude-FINAL.pdf">studies</a>
                support a strong association between gratitude and an individual’s wellbeing. Use this journal to
                cultivate gratitude and reflect on what you’re thankful for.
            </div>
            <p-footer>
                <div class="btn-wrapper">
                    <button pButton type="button" label="Start Writing" class="p-button-outlined p-button-lg"></button>
                </div>
            </p-footer>
        </div>
    </p-card>
</div>