.main-container {
  width: 100%;
  margin-bottom: 40px;
}

.subtitle {
  position: relative;
  margin: 10px auto;
  top: -30px;
  line-height: 2;
  text-align: center;
  color: grey;
  font-size: 1.1em;
}

.image {
  display: block;
  margin: 10px auto 50px;
  width: 250px;
  border-radius: 100px;
}

.btn-wrapper {
  position: relative;
  text-align: center;
}

body {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 2em;
  margin: 40px;
  font-weight: bold;
  font-style: italic;
}
